/*couleur primaire : Metallic seaweed*/
$cprim: #028090;

/*couleur secondaire : Persian green*/
$csen: #00A896;

/*couleur tertaire : Mountain Meadow*/
$cter: #02C39A;

/*couleur quataire : camel */
$cqua: #AA8F66;

/*Taille Font Big Titre de 74px*/
$fbtit: 74px;

/*Taille Font Titre de 40px*/
$ftit: 40px;

/*Taille Font paragraphe de 24px*/
$fpara: 24px;